/**
 * Style a dice using UTF-8 characters.
 */
.dice-utf8 .dice-1::after {
    content: "\2680";
}
.dice-utf8 .dice-2::after {
    content: "\2681";
}
.dice-utf8 .dice-3::after {
    content: "\2682";
}
.dice-utf8 .dice-4::after {
    content: "\2683";
}
.dice-utf8 .dice-5::after {
    content: "\2684";
}
.dice-utf8 .dice-6::after {
    content: "\2685";
}

.dice-utf8 {
    font-size: 32px;
    font-style: !important normal;
    display: flex;
    /* justify-content: center;
     align-items: center; */
    display: !important inline;
}

.dice-container {
    display: flex;
}
.game {
    min-height: 500px;
}

.total-points {
    display: flex;
    justify-content: space-evenly;
}
